$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
$color-title: #248faf;
$color-btn: #86AA40;
$color-header: #a6a39e;
$color-selected: #FFE293;
$color-fb: #3B5998;
$color-black: #333;
$color-brown: #5F594E;
$color-opinion-title: #2AA198;
$color-hover-border: #b7bfc4;

$color-background: #FDF6E3;
$color-block: #FBEECB;
$color-content-text: #9C7F42;
$color-field: #FFFFFF;
$color-red: #DC322F;
$color-text-offwhite: #FBEECB;
$color-like: $color-btn;
$color-checkin: $color-btn;
$color-review: $color-btn;

@mixin font-default {
    font-family: Helvetica, Arial, sans-serif;
}

@mixin font-title {
    font-family: "museo-sans", sans-serif;
}

@mixin font-body {
    font-family: "museo-sans", sans-serif;
}

@mixin heading {
    @include font-title;
    font-size: 25px;
    color: $color-opinion-title;
    margin: 30px 0 0px 14px;
}

@mixin text-area {
    background-color: $color-field;
    width: 100%;
}

@mixin rating {
    @include font-default;
    font-size: 26px;
    color: $cyan;
}

@mixin block {
    background-color: $color-block;
    @include border-radius(5px);
    margin: 20px 10px;
    padding: 10px;
}
@mixin border-nobg {
    background: url('../images/bg.gif');
    border: 1px solid #fff;
    border-radius: 1px;
}

@mixin button-win {
    font-family: 'Segoe UI', 'Open Sans', Arial, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    
    .icon {
        display: inline-block;
        height: 12px;
        max-width: 20px;
        min-width: 0px;
    }
    .title {
        display: inline-block;
    }
}

@mixin button-hover{
    color: #DFC044;
}

@mixin hover {
    border: 1px solid $color-hover-border;
}