@import "compass";
@import "compass/reset";
@import "susy";

// --------------------------------------------
// settings

$total-columns    : 5;
$column-width     : 4em;
$gutter-width     : 1em;
$grid-padding     : 1em;

$medium-columns   : 6;
$large-columns    : 13;

$container-width  : container-outer-width($large-columns);

// --------------------------------------------
// layout

@include border-box-sizing;

.page {
  //@include container;
  margin-left: 1;
  overflow: hidden;
}

// --------------------------------------------
// small

$anchor : 1;
$side   : $total-columns - $anchor;

.left {
  @include span-columns($side);
  margin-left: -100%;
  .show-left & { margin-left: 0; }
}

.main {
  @include span-columns($total-columns);
  margin-right: 0;
  .show-left & { margin-right: - space($side); }
  .show-right & { margin-left: - space($side); }
}

.right {
  @include span-columns($side omega);
  margin-right: -100%;
  .show-right & { margin-right: 0; }
}

// --------------------------------------------
// medium

$main : 3;
$side : $medium-columns - $main;
$left-side: 3;
$right-side: 3;

@include at-breakpoint($medium-columns) {
  [href="#right"] { visibility: hidden; }

  .left {
    @include span-columns($left-side);
    margin-left: -100%;
    .show-left & { margin-left: 0; }
  }

  .main {
    width: columns($main);
    .show-right & { margin-left: 0; }
    .show-left & { margin-right: 0; }
  }

  .right {
    width: columns($right-side);
    margin-right: 0;
    .show-left & { margin-right: - 100%; }
  }
}

// --------------------------------------------
// large

$main : 6;
$side : ($large-columns - $main)/2;
$left-side: 0;
$right-side: 7;

@include at-breakpoint($large-columns) {
  [href="#left"] { visibility: hidden; }

  .left {
    @include span-columns($left-side);
    .show-right & { margin-left: 0; }
  }

  .main {
    margin-left: 1;
    width: columns($main);
  }

  .right {
    @include span-columns($right-side omega);
  }
}

// --------------------------------------------
// styles (for demo only)

.page {
  // @include susy-grid-background;
  // @include at-breakpoint($medium-columns) { @include susy-grid-background; }
  // @include at-breakpoint($large-columns) { @include susy-grid-background; }
}

header, footer {
  @include clearfix;
  clear: both;
}

.toggle { text-transform: none; }
[href="#left"] { float: left; }
[href="#right"] { float: right; }

.left, .right, .main {
  @include transition(.3s all ease);
}
.left, .right { @include opacity(0); }

.left {
  .show-left & { @include opacity(1); }
  @include at-breakpoint($medium-columns) {
    @include opacity(1);
    .show-right & { @include opacity(0); }
  }
  @include at-breakpoint($large-columns) {
    &, .show-right & { @include opacity(1); }
  }
}

.main {
  &:after {
    @include leader;
    display: block;
  }
}

.right {
  .show-right & { @include opacity(1); }
  @include at-breakpoint($medium-columns) {
    @include opacity(1);
    .show-left & { @include opacity(0); }
  }
  @include at-breakpoint($large-columns) { @include opacity(1); }
}
