@import "compass/css3";
@import "susy-off-canvas";
@import "compass_twitter_bootstrap";
@import "mixins";


textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    border-color: none;
    box-shadow: none;
    outline: 0 none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font-size: 14px;
}


html {
    height: 100%;
}

body {
    /*background: none repeat scroll 0 0 $color-background;*/
    background: $color-background url('../images/bg.gif') repeat -70% 0;
    color: $color-content-text;
    font-family: "museo-sans", sans-serif;
    height: 100%;
}

header {
    background: none repeat scroll 0 0 $color-brown;
    color: $color-text-offwhite;
    position: absolute;
    height: 40px;
    width: 100%;
    z-index: 10;
}

.page {
    overflow: hidden;
    height: 94%;
    margin: 0px 100px;
}

.left, .main, .right {
    overflow: hidden;
    height: 100%;
}

.nano {
    .content {
        top: 30px;
    }
}

.footer {
    display: block;
    font-size: 22px;
    height: 36px;
    padding-top: 10px;
    padding-left: 170px;
    background: rgba(44, 37, 8, 0.17);
}

.logo {
    padding-top: 10px;
    .title{
        font-family: fantasy;
        font-size: 30px;
        color: #F7EC9F;
    }
    .tagline{
        font-size: 14px;
        color: #fff;
    }
    .genie{
        position: absolute;
        width: 100px;
        height: 100px;
    }
}

.box {
  background: rgba(250, 250, 250, 0.8);
  border-radius: 1px;
  margin-left: 20px;
  margin-top: 20px;
  box-shadow: 0px 0px 10px 2px rgb(168,159,159);
}

.search-bar {
    margin: 20px 10px 0;
    height: 30px;
    @include border-nobg;
    
    .search-field {
        @include text-area;
        height: inherit !important;
        margin-bottom: 0px;
        border: none;
        background: none;
        padding-left: 10px;
        width: 95%;
    }
}
.search-bar:hover{
    @include hover;
}
.div .active {
  background: rgb(240, 209, 127) ;
}

.icon-star, .icon-star-empty {
}

.menus-title {
    @include heading;
    color: $color-header;
}
.menu {
    .menu-name {
        display: none;
    }

    .group {
        @include block;
        @include border-nobg;
        width: 220px;
        display: inline-block;
        float: left;

        .group-name {
            @include font-title;
            font-size: 20px;
            color: $blue;
        }
    
        .item {
            display: block;
            margin: 6px 0px;
        }
        
        .item-name {
            font-size: 13px;
        }
    
        .size {
            display: block;
            margin: 2px 0px 2px 6px;
        }
        
        .size-name {
            font-size: 12px;
        }
        
        .size-price {
            float: right;
            font-size: 12px;
        }
    }
}

.opinions-title {
    @include heading;
    color: $color-header;
}

.opinion-item {
    @include block;
    @include border-nobg;

    .author {
        display: inline-block;
    }
    .author-name {
        @include font-title;
        font-size: 18px;
        color: $color-opinion-title;
    }
    .likes {
        display: inline-block;
        float: right;
        color: $color-like;
    }
    .review {
        display: block;
    }
    .rating {
        @include rating;
        display: block;
    }
    .comment {
        margin-top: 4px;
    }
    .rating-field {
        @include text-area;
        display: block;
    }
    .comment-field {
        @include text-area;
        display: block;
    }
}

.place-info {
    @include block;
    @include border-nobg;
    padding: 14px;
    cursor: pointer;

    .restaurant-name {
        display: inline-block;
        @include font-title;
        font-size: 18px;
        font-weight: bold;
        color: $color-title;
    }
    .checkins {
        display: inline-block;
        float: right;
        color: $color-checkin;
    }
    .rating {
        @include rating;
        display: block;
    }
    .address {
        margin: 6px 0 0;
    } .phone {
        margin: 2px 0 0;
    }
    .description {
    }
    .directions {
        width: 100%;
        height: 29px;
        padding: 6px 0 0;
        display: none;
        .show-directions-button {
            float: right;
        }
    }
}
.place-info:hover {
    @include hover;
}

.container-me {
	background: #FFF ;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 10px #e5e5e5;
	margin-left: 20px;
	margin-top: 20px;
}

.thumbnails {
	margin-left: 15px !important;
	margin-right: 0px !important;
    .span3 {
        padding: 0px;
        margin: 0px;
    }
}
.thumbnails > li{
    margin-left: 0px;
}

.thumbnail {
    padding: 0px;
}
.thumbnail > img {
    padding: 0px;
}
.login-links {
  float: right;
  height: 40px;
  line-height: 40px;
  margin-top: 10px; 
}

.login-links a {
  margin-left: 10px;
  float: left; 
}

.place_header {
    margin: 12px;
}

.column {
    margin: 0 10px;
    float: left;
    display: inline; 
}
.review-box {
    padding: 5px 5px 0px 5px;
}
.review-snippet {
  clear: both;
  font-size: 13px;
  line-height: 20px;
  height: 150px;
  overflow: hidden;
}

.reviewed-for{
	width: 100%;
}

.nano .pane   { background: transparent; }

/******************* scroll bar ********************/
::-webkit-scrollbar {
    width: 7px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(9,9,9,0.4); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(9,9,9,0.4); 
}

/*******************  ********************/

/*Windows 8 style button. For "load-more" button*/

.button-win8 {
    @include button-win;
    cursor: pointer;
}

.button-win8:hover {
    background: #74A599;
    cursor: pointer;
}

.button-win8:active {
    background: #F6A953;
}

.button-small {
    @include button-win;
    font-size: 14px;
    cursor: pointer;
    background-color: $color-btn;
}
.button-small:hover {
    @include button-hover;
}

.button-normal {
    @include button-win;
    @include block;
    background-color: $red;
    border-radius: 0;
    background-color: #F28A57;
}
.button-normal:hover {
    @include button-hover;
}

.like-button {
    @extend .button-small;
    background-color: $color-like;
    padding: 5px 0px;
    .title {
        padding: 0px 5px;
    }
}

.checkin-button {
    @extend .button-small;
    background-color: $color-checkin;
    padding: 5px 0px;
    .title {
        padding: 0px 5px;
    }
}

.review-button {
    @extend .button-small;
    background-color: $color-review;
}


.show-directions-button {
    @extend .button-small;
    background-color: $cyan;
}

.fb-btn{
    @extend .button-small;
    background-color: $color-fb;
    height: 20px;
    padding: 5px 4px;
    font-size: 12px;
    margin-top: 10px;
    text-transform: lowercase;
}

#fb-wgt {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}

.show-more-button {
    @extend .button-normal;
}

.nearby-btn{
    @extend .button-normal;
}
.login-link:hover {
    cursor: pointer;
}


/****************** For search box ****************/
.input-append button.add-on {
    height: inherit !important;
    border: none;
    background: none;
}
.navbar-search {
    position: relative;
}
  
.navbar-search .search-query {
    padding-left: 20px;
    height: 30px;
}

.navbar-inner .navbar-search .search-query:focus,
.navbar-inner .navbar-search .search-query.focused,
.navbar-inner .navbar-search .search-query {padding-right: 28px;}
.navbar-search em.icon-search {
  position: absolute;
  right: 10px;
  top: 7px;
}



/********* gallery ****************/
.image_carousel {
  position: relative;
}

.image_carousel img {
  border: 1px solid #ccc;
  background-color: white;
  display: block;
  float: left;
}

a.prev, a.next {
/*
    background-color: rgba(121, 121, 117, 0.61);
*/
    background: url(http://caroufredsel.dev7studios.com/images/miscellaneous_sprite.png) no-repeat transparent;
    width: 45px;
    height: 50px;
    display: block;
    position: absolute;
    top: 30%;
}
a.prev {
    left: 5px;
    background-position: 0 0; 
}

a.prev.disabled {   background-position: 0 -100px !important;  }
a.prev:hover {      
    background-position: 0 -50px; 
    /*background-color: rgba(121, 121, 117, 0.6);*/
}

a.next {
    right: 10px;
    background-position: -50px 0; 
}

a.next:hover {
    background-position: -50px -50px; 
    /*background-color: rgba(121, 121, 117, 0.7);*/
}

a.next.disabled {   background-position: -50px -100px !important;  }

a.prev.disabled, a.next.disabled {
    cursor: default;
    background-color: rgba(121, 121, 117, 0);
}

a.prev span, a.next span {
    display: none;
}