<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Nosh Genie</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

  <link rel="stylesheet" href="/styles/nanoscroller.css">        
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="components/select2/select2.css">
  
  <script src="/scripts/vendor/modernizr.min.js"></script>
  <script type="text/javascript" src="//use.typekit.net/rei3rlh.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <script type="text/template" id="opinions-template">
    <div class="author">
    </div>
    <div class="likes">
      <span class="likes-count"><%= likes %> likes</span>
      <span class='like-button'>
          <span class='icon'></span>
          <span class='title'>Like</span>
      </span>
    </div>
    <div class="review">
      <div class="rating">
        <% for (var i = 1; i <= 5; i++) {
          if (i <= rating) { %>
            <span>★</span>
          <%} else { %>
            <span>☆</span>
          <% } %>
        <% };%>
      </div>
      <div class="comment expandable">
        <%= comment %> 
      </div>
    </div>
  </script> 

</head>

<body class="">

  <header>
    <a class="toggle btn" href="#left">show left</a>
    <div id="fb-wgt" class="pull-right"></div>
    <div class="logo">
      <span class="title">Nosh Genie</span>
      <!-- <span class="tagline">&nbsp;&nbsp;&nbsp;Restaurants Near You :)</span> -->
    </div>
    <a class="toggle btn" href="#right">show right</a>
  </header>

  <div class="page">

<!--     <div class="left nano">
  <div class="content">
    <div class="logo">
      <a href="http://local.noshgenie.com:3501/">
        <img src="/images/logo-round.png"/>
      </a>
    </div>

    <div id="navigation"></div>
    <div id="geo-loc-wgt">
      <div id="locate-me" class="nearby-btn">Nearby</div>
    </div>
    
  </div>
</div> -->

    <div class="main nano">
      <div class="content box">
        <!-- Modal -->
        <div id="imageModal" class="modal hide fade" >
          <a class="close" data-dismiss="modal">&times;</a>
          <div class="modal-body" style="max-height:800px"></div>
        </div>
        <div class='search-bar'></div><br/>
        <div class="place-list-region region"></div>
      </div>
    </div>

    <div class="right nano">
      <div class="content box">
        <div class="tab-pane" id="tab1">
          <div class="place-details-region region"></div>
        </div>
      </div>
    </div>
  <div id="fb-root"></div>
  </div>

  <div class='footer'>Nosh Genie</div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="components/jquery/jquery.js"></script>
  <script>window.jQuery || document.write('<script src="components/jquery.js"><\/script>')</script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29161884-2']);
    _gaq.push(['_setDomainName', 'noshgenie.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  
  <!-- build:js /scripts/libraries.js -->
  <script src="components/underscore/underscore.js"></script>
  <script src="components/backbone/backbone.js"></script>
  <script src="components/marionette/lib/backbone.marionette.js"></script>
  <script src="components/spin.js/spin.js"></script>
  <script src="components/jquery-color/jquery.color.js"></script>
  <script src="components/jquery-raty/jquery.raty.js"></script>
  <script src="components/jquery-freetile/jquery.freetile.js"></script>
  <script src="components/jquery-caroufredsel/jquery.carouFredSel-6.2.0.js"></script>
  <script src="components/select2/select2.js"></script>
  <script src="scripts/vendor/overthrow.js"></script>
  <script src="scripts/vendor/jquery.nanoscroller.js"></script>
  <script src="scripts/vendor/bootstrap/bootstrap-affix.js"></script>
  <script src="scripts/vendor/bootstrap/bootstrap-alert.js"></script>
  <script src="scripts/vendor/bootstrap/bootstrap-dropdown.js"></script>
  <script src="scripts/vendor/bootstrap/bootstrap-tooltip.js"></script>
  <script src="scripts/vendor/bootstrap/bootstrap-modal.js"></script>
  <script src="scripts/vendor/bootstrap/bootstrap-transition.js"></script>
  <script src="scripts/vendor/bootstrap/bootstrap-button.js"></script>
  <script src="scripts/vendor/bootstrap/bootstrap-popover.js"></script>
  <script src="scripts/vendor/bootstrap/bootstrap-typeahead.js"></script>
  <script src="scripts/vendor/bootstrap/bootstrap-carousel.js"></script>
  <script src="scripts/vendor/bootstrap/bootstrap-scrollspy.js"></script>
  <script src="scripts/vendor/bootstrap/bootstrap-collapse.js"></script>
  <script src="scripts/vendor/bootstrap/bootstrap-tab.js"></script>
  <script src="scripts/vendor/susy-off-canvas.js"></script>
  <script src="scripts/vendor/jquery.expander.js"></script>
  <!-- endbuild -->

  <!-- build:js /scripts/app.js -->
  <!-- my scripts -->
  <script src="scripts/app/app.js" type="text/javascript"></script>
  <script src="scripts/app/utils.js" type="text/javascript"></script>
  <script src="scripts/app/auth.js" type="text/javascript"></script>
  <script src="scripts/app/likes.js" type="text/javascript"></script>
  <script src="scripts/app/checkins.js" type="text/javascript"></script>
  <script src="scripts/app/places.js" type="text/javascript"></script>
  <script src="scripts/app/menus.js" type="text/javascript"></script>
  <script src="scripts/app/opinions.js" type="text/javascript"></script>
  <script src="scripts/app/router.js" type="text/javascript"></script>
  <script src="scripts/app/widgets.js" type="text/javascript"></script>
  <script src="scripts/app/navigation.js" type="text/javascript"></script>
  <script src="scripts/app/photos.js" type="text/javascript"></script>
  <script src="scripts/app/place_details.js" type="text/javascript"></script>
  <script src="scripts/main.js" type="text/javascript"></script>
  <!-- endbuild -->

</body>
</html>
